<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Auto-Bind Blacklist ByPass</title>
<link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<header>
		<nav
			class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" href="/">Auto-Bind Blacklist ByPass</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
				<a class="navbar-brand" href="/">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#">Profile
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item" th:if="${user.isadmin}"><a class="nav-link" href="#">Users</a></li>
						<li class="nav-item" th:if="${user.isadmin}"><a class="nav-link" href="#">Permissions</a></li>
						<li class="nav-item" th:if="${user.isadmin}"><a class="nav-link" href="#">Management</a></li>
					</ul>
				</div>
			</nav>
			<br />
			<center>
				<div class="row" style="position: relative">
					<div class="col-md-12">
						<h2>Update User Details</h2>
					</div>
				</div>
			</center>
			<br />
			<div style="width: 60%; margin: auto;">
				<table class="table table-hover table-striped">
					<tbody>
						<tr>
							<td class="table-dark">First Name</td>
							<td th:text="${user.firstname}"></td>
						</tr>
						<tr>
							<td class="table-dark">Last Name</td>
							<td th:text="${user.lastname}"></td>
						</tr>
						<tr>
							<td class="table-dark">Bio</td>
							<td th:text="${user.bio}"></td>
						</tr>
						<tr>
							<td class="table-dark">Email</td>
							<td th:text="${user.email}"></td>
						</tr>
						<!--
						<tr>
							<td class="table-dark">Is Admin</td>
							<td th:text="${user.isadmin}"></td>
						</tr>
						-->
						<tr>
							<td class="table-dark">Account Code</td>
							<td th:text="${user.account.code}"></td>
						</tr>
						<tr>
							<td class="table-dark">Account Amount</td>
							<td th:text="${user.account.amount}"></td>
						</tr>
					</tbody>
				</table>
				<br />
				<div class="alert alert-success"
					style="position: absolute; top: 10px; right: 10px;" role="alert">Successfully
					updated the user</div>
			</div>
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
            <div class="row">
                <div class="col-6">
                    Coding Mistakes Hackers Abuse &copy;
                </div>
                <div class="col-6 text-right">
                    github.com/codingmistakes
                </div>
            </div>
        </div>
	</footer>
	<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>